.page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#modal {
    position: absolute;
    top:30vh;
    left:30vw;
    box-shadow: 0 0 2px 5px black;
    min-width : 40vw;
    min-height : 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}

#close {
    display:block;
    position: absolute;
    top:0;
    right:0;
}